/.idea
perfection.PNG
perfectiongray.png
3D-Matplotlib.png
mainsvmimage.png
bookpage.jpg
mainlogo.png
opencv-template-for-matching.jpg
opencv-template-matching-python-tutorial.jpg
opencv-python-foreground-extraction-tutorial.jpg
opencv-corner-detection-sample.jpg
opencv-feature-matching-image.jpg
opencv-feature-matching-template.jpg
haarcascade_eye.xml
haarcascade_frontalface_default.xml